<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}

        <img class="portrait" src="./img/3-robot.jpg" />
    </div>

    {{>footer}}
</body>

</html>